version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      day: 'monday'
      interval: 'monthly'
      time: '09:00'
      timezone: 'Australia/Melbourne'
    groups:
      all-actions:
        patterns:
          - '*'
        update-types:
          - minor
          - patch
  - package-ecosystem: 'bun'
    directory: '/'
    schedule:
      day: 'monday'
      interval: 'monthly'
      time: '09:00'
      timezone: 'Australia/Melbourne'
    pull-request-branch-name:
      separator: '-'
    open-pull-requests-limit: 10
    target-branch: main
    groups:
      all-minor-patch:
        patterns:
          - '*'
        update-types:
          - minor
          - patch
    commit-message:
      prefix: chore
      include: scope
